.book {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 200px;
  font-family: "Montserrat", sans-serif;
  background-color: white;
  margin: 10px 0;
  padding: 20px 0;
  border: 1px solid rgba(198, 198, 198, 0.99);
  width: 100%;
}

.book__icon {
  width: 60px;
  height: 50px;
}

.book__progress {
  display: flex;
  gap: 20px;
  align-items: center;
}

.book__heading {
  font-family: "Roboto Slab", serif;
  font-weight: bold;
  margin-top: 0.2rem;
  font-size: 1.4rem;
  letter-spacing: -0.2px;
  color: #121212;
}

.book__span {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  opacity: 0.6;
  font-weight: bold;
  color: #121212;
}

.book-author {
  font-family: "Roboto Slab", serif;
  font-size: 0.9rem;
  font-weight: 300;
  color: #4386bf;
}

.book__current-chapter {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: #121212;
  opacity: 0.4;
}

.book__current-heading {
  font-weight: 300;
  margin-top: 0.4rem;
  font-family: "Roboto Slab", serif;
  font-size: 1rem;
  color: #121212;
  letter-spacing: -0.4px;
}

.book__current-btn {
  padding: 10px 20px;
  background-color: #0290ff;
  border: none;
  color: white;
  border-radius: 3px;
  font-weight: 300;
  letter-spacing: 0.5px;
}

.book__info-buttons {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.book__info-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  color: #4386bf;
  font-weight: 100;
}

.wrapper {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  margin: 0 50px 100px 50px;
  padding: 0 50px;
}

.books {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.book__progress-circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__progress-circular-progress {
  position: absolute;
  border: solid 5px #307bbe;
  border-left-color: #e8e8e8;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border-style: solid;
  border-width: 5px;
  transform: rotate(45deg);
}

.book__progress-container-percenatge {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #121212;
  margin: 0;
}

.book__progress-container-percenatge-complete {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  opacity: 0.55;
  color: #121212;
}

.divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin-top: 30px;
}
